[submodule "flakes/nvf"]
	path = flakes/neovim
	url = https://github.com/viicslen/neovim
[submodule "flakes/niri"]
	path = flakes/niri
	url = https://github.com/viicslen-nix/niri
[submodule "flakes/hyprland"]
	path = flakes/hyprland
	url = https://github.com/viicslen-nix/hyprland
