[Desktop Entry]
Name=PhpStorm
Type=Application
Categories=Development;IDE;
Exec=~/.local/share/JetBrains/Toolbox/scripts/PhpStorm %U
Icon=~/.local/share/JetBrains/Toolbox/apps/phpstorm/bin/phpstorm.svg
StartupWMClass=jetbrains-phpstorm
Comment=The Lightning-Smart PHP IDE
StartupNotify=true
Terminal=false
