[Desktop Entry]
Name=DataGrip
Type=Application
Categories=Development;IDE;
Exec=~/.local/share/JetBrains/Toolbox/scripts/datagrip %U
Icon=~/.local/share/JetBrains/Toolbox/apps/datagrip/bin/datagrip.svg
StartupWMClass=jetbrains-datagrip
Comment=The Lightning-Smart Data Editor
StartupNotify=true
Terminal=false
