[Desktop Entry]
Name=Ray
Type=Application
Categories=Development;Debugging;
Exec=/run/current-system/sw/bin/ray %U
Icon=ray
Comment=Ray is a tool for debugging and profiling your PHP applications
StartupWMClass=ray
StartupNotify=true
Terminal=false
