[Desktop Entry]
Name=Tinkerwell
Type=Application
Categories=Development;Debugging;
Exec=/run/current-system/sw/bin/tinkerwell %U
Icon=tinkerwell
Comment=The magical code editor that runs your code within local and remote PHP applications.
StartupWMClass=ray
StartupNotify=true
Terminal=false
