.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 0.9;
  background: alpha(@base00, 0.8);
}

.notification-row {
  outline: none;
  margin: 10px;
  padding: 0;
}

.notification {
  background: transparent;
  padding: 0;
  margin: 0px;
}

.notification-content {
  background: @base00;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid @base0D;
  margin: 0;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.close-button {
  background: @base08;
  color: @base00;
  text-shadow: none;
  padding: 0;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @base0D;
  transition: all .15s ease-in-out;
  border: none;
}

.notification-action {
  border: 2px solid @base0D;
  border-top: none;
  border-radius: 5px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @base0B;
  background: @base0B;
}

.notification-default-action {
  border-radius: 5px;
  margin: 0px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: @base00;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: @base00;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @base00;
  color: @base05;
  caret-color: @base05;
  border: 1px solid @base09;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @base00;
  border: 1px solid @base09;
  border-radius: 5px;
  color: @base05;
}

.inline-reply-button:disabled {
  background: initial;
  color: @base03;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @base00;
}

.body-image {
  margin-top: 6px;
  background-color: @base05;
  border-radius: 5px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: rgba(158, 206, 106, 1);
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @base05;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @base05;
  text-shadow: none;
}

.control-center {
  background: alpha(@base00, 0.7);
  border: 2px solid @base0C;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: .5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0);
}

.widget-title {
  color: @base0B;
  background: @base00;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @base05;
  text-shadow: none;
  background: @base00;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: @base08;
  color: @base00;
}

.widget-dnd {
  background: @base00;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: @base0B;
}

.widget-dnd > switch {
  border-radius: 5px;
  /* border: 1px solid @base0B; */
  background: @base0B;
}

.widget-dnd > switch:checked {
  background: @base08;
  border: 1px solid @base08;
}

.widget-dnd > switch slider {
  background: @base00;
  border-radius: 5px;
}

.widget-dnd > switch:checked slider {
  background: @base00;
  border-radius: 5px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @base05;
}

.widget-mpris {
  color: @base05;
  background: @base00;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  border-radius: 5px;
}

.widget-mpris > box > button {
  border-radius: 5px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 5px;
  background: @base01;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  background: @base00;
  border-radius: 5px;
  color: @base05;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(122, 162, 247, 1);
  color: @base00;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  background: @base01;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 5px;
  font-size: x-large;
  color: @base05;
}

.widget-volume > box > button {
  background: @base0B;
  border: none;
}

.per-app-volume {
  background-color: @base00;
  padding: 4px 8px 8px;
  margin: 0 8px 8px;
  border-radius: 5px;
}

.widget-backlight {
  background: @base01;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 5px;
  font-size: x-large;
  color: @base05;
}