{
  lib,
  pkgs,
  config,
  ...
}:
with lib; let
  feature = "firefox";
  cfg = config.features.${feature};
in {
  options.features.${feature} = {
    enable = mkEnableOption (mdDoc feature);
  };

  config = mkIf cfg.enable {
    
  };
}
