{
  lib,
  pkgs,
  config,
  ...
}:
with lib; let
  name = "impermanence";
  namespace = "features";

  cfg = config.${namespace}.${name};
in {
  options.${namespace}.${feature} = {
    enable = mkEnableOption (mdDoc feature);
  };

  config = mkIf cfg.enable {
    
  };
}
